extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	img.top-decor(src="images/top-decor.svg", alt="")
	.container 
		section.promo
			.promo-left
				h1.promo-left__title Easy way to sell <br> digital products
				p.promo-left__desc No monthly payments, we take only <br>  a small percentage of each sale 
			a.button-blue.button-blue--start Start for free
		section.sellerts
			h3.sellerts__title Sellerts is a powerful functionality designed to meet your needs
			.sellerts-row
				.sellerts-row__info.sellerts-row__info--1
					.sellerts-row__info-name Pages and Products
					.sellerts-row__info-command Sell your digital products&nbsp;anywhere
					.sellerts-row__info-desc Sell anywhere with payment links or use the internal online store that you can customize to your needs.
				img.sellerts-row__img(src="images/sell-1.jpg", alt="")
			.sellerts-row.sellerts-row--2
				.sellerts-row__info.sellerts-row__info--right
					.sellerts-row__info-name Extra Bonuses
					.sellerts-row__info-command Buy seller's goods at a discount
					.sellerts-row__info-desc Sellerts has an agency program, through which you can buy the seller's goods in bulk at a discount set by the seller for an agent.
				img.sellerts-row__img.sellerts-row__img--2(src="images/sell-2.jpg", alt="")
		section.whyus
			
			.whyus-inner
				.whyus-left
					h6.whyus__title why us?
					p.whyus-left__text No subscriptions or monthly payments
					a.button-blue.button-blue--mt40(href="") Sign up
				.whyus-right 
					.whyus-right__percent 3%
					.whyus-right__text Use the Sellerts powerful functionality and pay only for successful deals
		.sellerts-row.sellerts-row--mb46
			.sellerts-row__info.sellerts-row__info--3
				.sellerts-row__info-name Analytics and Reports
				.sellerts-row__info-command Increase the efficiency of your income
				.sellerts-row__info-desc Drive growth with built-in CRM and use analytics to make informed business decisions. View reports, user predictions, report tracking and see how customers interact with your store. 
			img.sellerts-row__img.sellerts-row__img--mr0(src="images/sell-3.jpg", alt="")
		.sellerts-row.sellerts-row--2
			.sellerts-row__info.sellerts-row__info--right
				.sellerts-row__info-name Accepting payments
				.sellerts-row__info-command No need to worry about payment processing
				.sellerts-row__info-desc Sellerts uses the latest payment processing technology and ensures that your payment is processed at any time with the lowest possible transaction fees.
			img.sellerts-row__img.sellerts-row__img--2(src="images/sell-4.jpg", alt="")
		section.start
			h3.start__title Start selling your digital products today
			p.start__subtitle Access tools designed to help you launch and scale your digital products production business
			a.button-blue.button-blue--mt56 Start for free
		
		
		.collect
			.collect-text Collect earnings directly in your <br> bank account, or crypto wallet
			.collect-slider.js-collect-slider
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/stripe.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/coin.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/skrill.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/paypal.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/webmoney.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/stripe.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/coin.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/skrill.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/paypal.svg", alt="")
				.collect-slide
					.collect-slide-inner
						img.slide-img(src="images/collect-slider/webmoney.svg", alt="")



