extends layouts/modal

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container 
		.js-open-modal(data-src="#modal-product-1") Открыть модалку
		.modal.hide#modal-product-1
			.modal-top
				.modal-top__name Product Name
				.modal__close(data-fancybox-close)
					img(src="images/modal/close.svg", alt="")
			.modal-content
				.modal-row 
					.modal-row__left
						.modal-row__left-img
							img(alt="")
						.modal-row__left-info 
							.group-name Очень длинное название группы
							.group-val 
								.group-val__price $5.00
								.group-val__availabil 7 в наличии
					.modal-row__right
						.rating.product-numbers__rating.modal-rating
							.rating-counter.rating-counter--modal
								.rating-counter__img
									img(src="images/product-card/like.svg", alt="")
								.rating-counter__val 80
							.rating-counter.rating-counter--modal.rating-counter--ml13
								.rating-counter__img
									img(src="images/product-card/dislike.svg", alt="")
								.rating-counter__val 10
				.modal-row 
					.modal-row__left
						.modal-row__left-img
							img(alt="")
						.modal-row__left-info 
							.group-name Название группы
							.group-val 
								.group-val__price $32.00
								.group-val__availabil 7 в наличии
					.modal-row__right
						.rating.product-numbers__rating.modal-rating
							
							.rating-counter.rating-counter--modal
								.rating-counter__img
									img(src="images/product-card/dislike.svg", alt="")
								.rating-counter__val 10
				.modal-row 
					.modal-row__left
						.modal-row__left-img
							img(alt="")
						.modal-row__left-info 
							.group-name Название группы
							.group-val 
								.group-val__price $132.00
								.group-val__availabil 7 в наличии
					.modal-row__right
						.rating.product-numbers__rating.modal-rating
							.rating-counter.rating-counter--modal
								.rating-counter__img
									img(src="images/product-card/like.svg", alt="")
								.rating-counter__val 80
							
				.modal-row 
					.modal-row__left
						.modal-row__left-img
							img(alt="")
						.modal-row__left-info 
							.group-name Название группы
							.group-val 
								.group-val__price $132.00
								.group-val__availabil 7 в наличии
					.modal-row__right
						


