extends layouts/changed

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container 
		section.product-group
			h1.product-group__title Group name
			.product-group__item
				.product-info
					.product-info__img 
						img(alt="")
					.product-info__inner 
						.product-name Product Name
						.product-numbers
							.product-numbers__sales 32 sales
							.rating.product-numbers__rating
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/like.svg", alt="")
									.rating-counter__val 80
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/dislike.svg", alt="")
									.rating-counter__val 10
					
				.product-desc Description. Straightforward revenue collection. Integrate a gateway and collect earnings directly in your bank account, or crypto wallet.
			.product-group__item
				.product-info
					.product-info__img 
						img(alt="")
					.product-info__inner 
						.product-name Product Name
						.product-numbers
							.product-numbers__sales 32 sales
							.rating.product-numbers__rating
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/like.svg", alt="")
									.rating-counter__val 80
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/dislike.svg", alt="")
									.rating-counter__val 10
					
				.product-desc Description. Straightforward revenue collection.
			.product-group__item
				.product-info
					.product-info__img 
						img(alt="")
					.product-info__inner 
						.product-name Product Name
						.product-numbers
							.product-numbers__sales 32 sales
							.rating.product-numbers__rating
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/like.svg", alt="")
									.rating-counter__val 80
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/dislike.svg", alt="")
									.rating-counter__val 10
					
				.product-desc 
			.product-group__item
				.product-info
					.product-info__img 
						img(alt="")
					.product-info__inner 
						.product-name Product Name
						.product-numbers
							.product-numbers__sales 32 sales
							.rating.product-numbers__rating
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/like.svg", alt="")
									.rating-counter__val 80
								.rating-counter
									.rating-counter__img
										img(src="images/product-card/dislike.svg", alt="")
									.rating-counter__val 10
					
				.product-desc Description. Straightforward revenue collection. Integrate a gateway and collect earnings directly in your bank account, or crypto wallet.
				
