footer.site-footer
    .container
        .sf-inner
            .sf-col
                a.sf-logo(href="/")
                    img(src="images/footer/sf-logo.svg", alt="")
                .sf-copyright ©2022 Sellerts. <br> All rights reserved.


            .sf-col
                .sf-col__name FOR USERS
                a.sf-col__item(href="") Options
                a.sf-col__item(href="") Prices
                a.sf-col__item(href="") Payments 
            .sf-col
                .sf-col__name DOCUMENTS
                a.sf-col__item(href="") Confidentiality
                a.sf-col__item(href="") Terms
            .sf-col 
                .sf-col__name SUPPORT
                a.sf-col__item(href="") Telegram
                a.sf-col__item(href="") Discord
                a.sf-col__item(href="mailto: mail@mail.com") mail@mail.com