.header-placeholder
header.site-header
	.container.header-container
		a.header-logo(href="/sellerts/build")
			img(src="images/header/header-logo.svg", alt="")
		nav.menu
			.menu__list
				a.menu__link Options
				a.menu__link Prices
				a.menu__link Payments
				a.button-blue.header-button--mob.button-blue--signup Sign up
		.header-right
			a.sign-in(href="") Sign in
			a.button-blue.button-blue--signup.header-button(href="") Sign up
			.sh-burger
				span

	