header.header-store
	.container.header-container
		.store-label
			img( alt="") 
		.store-info
			.store-info-left
				
				.store-name Store Name
				.rating
					.rating-counter
						.rating-counter__img
							img(src="images/header-store/like-img.svg", alt="")
						.rating-counter__val 80
					.rating-counter
						.rating-counter__img
							img(src="images/header-store/dislike-img.svg", alt="")
						.rating-counter__val 10
			.store-info-right
				.store-info-right__sellings Total sold: 200