
.sh-burger {
	position: relative;
	display: none;
	width: 24px;
	height: 14px;
	cursor: pointer;
	transition-duration: .2s;
	z-index: 200;

	span,
	span::before,
	span::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 2px;
		margin-top: -1px;
		margin-left: -12px;
		background-color: #292929;
	}

	span::before,
	span::after {
		content: '';
		transition: 0.2s;
	}

	span::before {
		transform: translateY(-6px);
	}

	span::after {
		transform: translateY(6px);
	}

	&--active {
		

		span {
			
			height: 0px;
			&::before {
				transform: rotate(45deg);
				background: #292929;
			}

			&::after {
				transform: rotate(-45deg);
				background: #292929;
			}
		}
	}
}

.header{
	
	&-container{
		padding-top: 15px;
		display: flex;
		align-items: center;
		z-index: 1000;
		
		
	}
	&-logo{
		width: 176px;
		height: 49px;
		z-index: 99;
	}
	&-right{
		z-index: 98;
	}
}

.menu{
	margin-left: 64px;
	flex-grow: 1;
	&__link{
		margin-right: 40px;
		font-style: normal;
		font-weight: 400;
		cursor: pointer;
	}
}
.sign-in{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}
.button-blue--signup{
	
	margin-left: 40px;
	
}

.header-button--mob{
	display: none!important;
}

@media screen and (max-width:950px){
	.header-placeholder{
		padding-top: 64px;
	}
	.sh-burger{
		display: block;
		z-index: 10000;
		margin-left: 20px;
	}
	.site-header{
		z-index: 99;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #ffffff;
	}
	.header-right{
		display: flex;
		align-items: center;
	}
	.menu__list{
		position: absolute;
		z-index: 90;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		padding: 95px 0 30px;
		transition-duration: .4s;
		pointer-events: none;
		opacity: 0;
		background-color: #fff;
		overflow: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 24px;
		
		&--visible{
			pointer-events: all;
			opacity: 1;
		}
	}

	.menu__link{
		margin-bottom: 35px;
		margin-right: 0;
	}
	.header-button{
		display: none !important;
	}
	.header-button--mob{
		display: block!important;
		margin-left: 0;
	}
	@media screen and (max-width:570px){
		.sign-in{
			font-size: 16px;

		}
		.header-logo {
			width: 127px;
		}
}}